div.bgnotes {
	background-image: url(../images/background-notes.png);
	background-repeat: no-repeat;
}

textarea#id_content {
	background-color:transparent;
	overflow: auto;
	border: none;
}

div#fitem_id_content {
	background-color:#transparent;
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
}